html, body{
	padding:0;
	margin:0;
	overflow:hidden;
	width:100%;
	height:100%;
}

body{
	background-color:rgb(38, 38, 38);
}

#wrapper{
	overflow:hidden;
	width:100%;
	height:100%;
}

img{
	border:none;
	padding:0;
	margin:0;
}

#fu{
	display:none;
}